{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "no-empty": 1,
    "comma-dangle": 1,
    "indent": 1,
    "import/newline-after-import": 1,
    "prefer-destructuring": 0,
    "no-underscore-dangle": 0,
    "semi": 1,
    "no-trailing-spaces": 0
  }
}